language: python
dist: xenial
python:
  - "3.9"
  - "3.8"
  - "3.7"
  - "3.6"
sudo: required
before_install:
  - pip install pip
  - pip install pipenv
install:
  - make build
  - pipenv install codecov
script:
  - make test
deploy:
    provider: pypi
    distributions: sdist bdist_wheel
    username: __token__
    password: $PYPI_API_TOKEN
    skip_existing: true
    on:
      tags: true
      
